<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ferry04" path="*.*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>