
.list_classe, .list_groupes, .list_sous_groupes {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top:50px;
  }
  .list_classe li, .list_groupes li, .list_sous_groupes li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;

  }
  