.content{
   padding: 15px;
}
.titre{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
}
h2 {
    font-size: 25px;
    text-decoration: underline;
  }
.top_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
    border-radius: 10px;
    margin-left: 200px;
    font-size: 18px;
}
.top_content_left{
    margin-right: 20px;
    width: 45%;

    justify-content: center;
    text-align: start;
    height: 350px;
}
.top_content_left_image img{

    margin-left: 20px;
    height: 250px;
    width: 450px;
}
.top_content_right{
    margin-left: 20px;
    width: 45%;
    height: 400px;
    text-align: justify;
}

.bottom_content{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 18px;
}
.bottom_content h2{
    margin-bottom:40px;
}
.bottom_content_left{
    margin-right: 120px;
    width: 39%;
    justify-content: flex-start;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.bottom_content_right{
    border-radius: 10px;
    width: 40%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_content{
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    margin-left: 210px;
    margin-top: 50px;
    display: flex;
  
}
.footer_content a {
    font-size: 18px;
}
.liste_experiences{
    margin-left: 20px;
    padding-right: 10px;
}



/* 
background-color:
AF6E4D
FF0800
FFFFFF
5E8C61
*/