footer {
    display: flex;
    padding-top: 25px;
}

footer p, footer ul {
    font-size: 0.8em;
}

footer h1 {
    font-size: 0.8em;
    font-family: Dayrom, serif;
    font-weight: normal;
    color: #706b64;
}