/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  padding: 10px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
  margin: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.pagination {
  padding: 24px;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img {
  width: 59px;
  height: 60px;
}

header h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 0 10px;
  color: chocolate;
}

header h2 {
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
  font-family: Dayrom, serif;
  font-weight: normal;
  text-transform: uppercase;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}
a {
  text-decoration: none;
}
.content {
  margin-left: 10px;
}
textarea {
  resize: none;
  width: 100%;
}
.btn-retour, .connection{
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 10px;
  margin-right: 25px;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.466);
  color:black;
  background-color: #F0F0F0;
  margin-left: 100px;
  margin-top: 50px;
}
.connection{
  margin-left:10px;
  margin-top:0px;
}