.content_list {
  margin-left: 50px;
}
.ajout_experience {

  margin-top: 50px;

}
.no_result_text {
  margin-left: 50px;
}
.list_experiences {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
}
.list .list_experiences {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
}
.list_experiences {
  height: 550px;
}
@media only screen and (max-width: 1600px) {
  .list_experiences {
    height: 900px;
  }
}
.list_experiences li {
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.txt_experience {
  margin-right: 15px;
  width: 100%;
  text-decoration: none;
}
[name="choice_experience"]:nth-child(1) {
  margin-right: 0px;
  margin-left: 10px;
}
[name="choice_experience"]:nth-child(2) {
  margin-right: 0px;
  margin-left: 10px;
}
[name="choice_experience"] {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 10%;
  font-size: 24px;
  color: black;
}
[name="choice_experience"]:hover {
  border-color: black;
}
.option_button {
  display: flex;
  justify-content: center;
}
.filter {
  display: flex;
}
.search-form,
.search_by_defaut,
.search_by_name {
  margin-top: 50px;
  margin-left: 50px;
}
.pagination a,
.paginationSearch a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid rgb(221, 221, 221);
}
.pagination a:hover,
.paginationSearch a:hover {
  background-color: #ddd;
}
input,
select {
  width: auto;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 6px;
}
/* chaneg select with id : searchByDefaut */
#searchByDefaut {
  width: 200px;
}

#tab_experience {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 30px;
  margin-right: 20%;
  font-size: 18px;
}
#tab_experience td,
#tab_experience th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: justify;
  text-align: center;
}
#tab_experience tr:nth-child(odd) {
  background-color: #f2f2f2;
}
#tab_experience th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  text-align: center;
}
td:nth-child(1),
th:nth-child(1) {
  width: 10%;
}
td:nth-child(2),
th:nth-child(2) {
  width: 5%;
}
td:nth-child(3),
th:nth-child(3) {
  width: 5%;
}
td:nth-child(4),
th:nth-child(4) {
  width: 10%;
}
.bouton_action {
  width: 1%;
}
.Ajout_experience {
  width: auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.466);
  ;
  outline: none;
  padding: 6px;
  
}

/* position des boutons de pagination  */

.paginationSearch {
  padding: 24px;
  margin-left: 26px;
}
.pagination {
  margin-left: 26px;
}
@media only screen and (max-width: 1800px) {
  .pagination,
  .paginationSearch {
    position: relative;
  }
}
.btn-retour{
  display: inline-block;
  margin-left:50px;
  margin-top:0px;
  margin-bottom: 10px;
  margin-right: 25px;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.466);
  color:black;
  background-color: #F0F0F0;
}