.img_defauts {
  text-decoration: none;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: auto;
}
table {
  border-collapse: collapse;
  margin-top: 45px;
  width: 100%;
}
td {
  border: 1px solid black;
  align-items: center;
  text-align: center;
}
td img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
td,
th {
  border: 1px solid #9c9c9c;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.defauts_tab {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  margin-top: 60px;
}

th:first-child,
tr:first-child {
  width: 10%;
}
th:nth-child(2),
tr:nth-child(2) {
  width: 20%;
}
th:nth-child(3),
tr:nth-child(3) {
  width: 50%;
}
th:nth-child(4),
tr:nth-child(4) {
  width: 20%;
}
