<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta description="Defautheque" />
{% load static %}

<html lang="fr">
  <head>
    <title>{% block title %} WIKI - FC{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>

  <body>
    {% include "Webfautheque/header.html" %} {% block content %} {% endblock %}
    {% include "Webfautheque/footer.html" %}
  </body>
</html>
