<!DOCTYPE html>
<html lang="fr">
{% extends "Webfautheque/base.html" %} {% load static %} {% block title %}
Défaut {{ defauts_carac.defaut_idperso }} {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/defaut.css' %}" />

<div class="content">
  <div class="contenu">
    <h1 class="title">{{ defaut_idperso }} : {{ defaut_nom }} </h1>
  </div>
  <div class="defaut_content">
    <div class="defaut_left">
      <div class="defaut_illustration">
        <h2>Illustration</h2>
        {% load static %} {% get_static_prefix as STATIC_PREFIX %}
        <img src="{{ STATIC_PREFIX }}Webfautheque/presentation_defauts/{{ defaut_idperso }}/{{ defaut_idperso }}.png"
          alt="Illustration schématique du défaut" />
      </div>
      <div class="defaut_desc">
        <h2>Description</h2>
        <p>
          {% for desc in defaut_description %} {{ desc }}<br />
          {% endfor %}
        </p>
      </div>
    </div>
    <div class="defaut_right">
      <div class="defaut_info">
        <h2>Information</h2>
        <p>{% for info in defaut_infos %} {{ info }}</p>

        <p>{% endfor %}</p>
      </div>
      <div class="defaut_causes">
        <h2>Causes</h2>
        <p>
          {% for cause in defaut_causes %} {{ cause }}<br />
          {% endfor %}
        </p>
      </div>
      <div class="defaut_remedes">
        <h2>Remèdes</h2>
        <p>
          {% for rem in defaut_remedes %} {{ rem }}
        </p>
          {% endfor %}
        </p>
      </div>
      <div class="defaut_experiences">
        <h2>Expériences</h2>
        <p>
          <a href="/Webfautheque/{{ defaut_idperso }}/Experiences">Lien vers les expériences enregistrer pour ce
            défaut</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</html>