<!DOCTYPE html>
<html lang="fr">
  {% extends "Webfautheque/base.html" %} {% load static %} {% block title %}
  Défauts {% endblock %} {% block content %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/defauts.css' %}"
  />

  <div class="defauts_tab">
    <table>
      <tr>
        
        <th colspan="3">nº</th>
        <th colspan="3" >Nom traditionel</th>
        <th colspan="3">Description</th>
  
        <th colspan="3" >Schéma</th>
      </tr>
      {% for defaut in defauts_list %}

      <tr>
        <td colspan="3">{{defaut.defaut_idperso}}</td>
        <td colspan="3">
          <a class="img_defauts" href="/Webfautheque/{{ defaut.defaut_idperso }}">
            {{ defaut.defaut_nom }}</a>
        </td>
        <td colspan="3">{{defaut.defaut_description}}</td>


        <td colspan="3">
          {% load static %} {% get_static_prefix as STATIC_PREFIX %}
          <img
            src="{{ STATIC_PREFIX }}Webfautheque/presentation_defauts/{{ defaut.defaut_idperso }}/{{ defaut.defaut_idperso }}.png"
            alt="Illustration du défaut schématique"
          />
        </td>
      </tr>

      {% endfor %}
    </table>
  </div>
  {% endblock %}
</html>
