<!DOCTYPE html>
<html lang="fr">
  {% extends "Webfautheque/base.html" %} {% load static %} 
  {% block title %}
    Défauts
  {% endblock %} 
  {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/defauts.css' %}"/>

    {% for defaut in defauts_list %}
      <li class="defaults_content">
        {% load static %} {% get_static_prefix as STATIC_PREFIX %}
        <img
          src="{{ STATIC_PREFIX }}Webfautheque/presentation_defauts/{{ defaut.defaut_idperso }}/{{ defaut.defaut_idperso }}.png"
          alt="Illustration du défaut schématique"
        />
        <a class="img_defauts" href="/Webfautheque/{{ defaut.defaut_idperso }}"
          >Defaut {{ defaut.defaut_idperso }} : {{ defaut.defaut_nom }}</a
        >
      </li>
    {% endfor %} 
  {% endblock %}
</html>
