<!DOCTYPE html>
<html lang="fr">
  {% extends "Webfautheque/base.html" %} 
  
  {% load static %} 
  
  {% block title %}
    Expériences 
  {% endblock %} 
  {% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/list_experiences.css' %}"/>


  <div class="content_list">
    <div class="ajout_experience">
      {% if user.is_authenticated %} 
            {% if user.is_superuser%}
            <br>
            <form action="/Webfautheque/Experiences/Ajout" >
                <button type="submit" class="Ajout_experience">Ajouter une expérience</button>
                <input type="hidden" name="page" value="ajout_list">
            </form>
            {% else %}
              {% for groupe in groupes %}
                {% if  groupe.name == "Création" %}
                  <br>
                  <form action="/Webfautheque/Experiences/Ajout" >
                      <button type="submit" class="Ajout_experience">Ajouter une expérience</button>
                      <input type="hidden" name="page" value="ajout_list">
                  </form>
                {% endif %}
              {% endfor %}
            {% endif %}
      {% else %}
      <a class="connection" href='../login'>
        <button type="submit">Connection </button></a>
      {% endif %} 
    </div>


    <div class="filter">
      <div class="search-form">
        <input type="text" class="form-search" id="searchField" placeholder="Recherche par nom">
      </div>
      
      <div class="search_by_name">
        <select id="searchByName">
          <option value="">Recherche par auteur</option>
          {% for tag in tags %}
          <option value="{{ tag.experience_auteur }}">{{ tag.experience_auteur }}</option> 
          {% endfor %}
        </select>
      </div>
    </div>



    <div class="list_experiences">

    </div>

    
    <div class="no_result_text">
      <p class="no-results" style="display: none;">Aucun résultat </p>
    </div>  
    <div class="list" style="display:flex">
      <div class="list_experiences">

        <table id="customers">
        <thead>
          <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Auteur</th>
            <th>Action</th>
  
          </tr>
        </thead>
  
        <tbody>
          {% for experience in page_obj%}
          <tr>
            <td>{{experience.experience_nom_article}}</td>
            <td>{{experience.experience_pub_date}}</td>
            <td>{{experience.experience_auteur}}</td>
            <td class="bouton_action">


              <div class="add_experience">
                
                <div class="option_button">
                  {% if user.is_authenticated %} 
                    {% if user.is_superuser %}
                      <a href="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}"> <button type="submit" class="fa-solid fa-eye" id="choice_experience"></button></a>
                        <form action="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}/Update/">
                          {% csrf_token %} 
                          <button type="submit" class="fa-solid fa-pen-to-square" id="choice_experience"></button>
                        </form>
                        <form action="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}/Delete/" method="POST">
                          {% csrf_token %} 
                          <button type="submit" class="fa-solid fa-trash-can" id="choice_experience" onClick="return confirm('Voulez Vous supprimer l\'experience {{experience.experience_nom_article}}')"></button>
                          <input type="hidden" name="next" value="{{ request.path }}" class="hidden_button">
                        </form>  
                    {% else %}
                    
                      {% for groupe in groupes %}
                          {% if  groupe.name == "Visualiser" %}
                            <a href="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}"> <button type="submit" class="fa-solid fa-eye" id="choice_experience"></button></a>
                          {% endif %}
                        {% endfor %}
                        {% for groupe in groupes %}
                          {% if groupe.name == "Modification" %}
                            <form action="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}/Update/">
                              {% csrf_token %} 
                              <button type="submit" class="fa-solid fa-pen-to-square" id="choice_experience"></button>
                            </form>
                          {% endif %} 
                        {% endfor %}  
                        {% for groupe in groupes %}
                          {% if groupe.name == "Suppression" %}
                            <form action="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}/Delete/" method="POST">
                              {% csrf_token %} 
                              <button type="submit" class="fa-solid fa-trash-can" id="choice_experience" onClick="return confirm('Voulez Vous supprimer l\'experience {{experience.experience_nom_article}}')"></button>
                              <input type="hidden" name="next" value="{{ request.path }}" class="hidden_button">
                            </form>
                          {% endif %}   
                        {% endfor %}
                      {% endif %}
                </div>

                {% else %}
                  <div class="option_button">
                    <a href="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}"> <button type="submit" class="fa-solid fa-eye" id="choice_experience"></button></a>
              
                </div>
                {% endif %} 
              </div>
            </td>
          </tr>
  
          {% endfor %}
        </tbody>
      </table>

  </div>
  </div>
        <div class="pagination">
          <span class="current">
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
        <br>
      </span>
      <br>  
      <span class="step-links">
        <a href="?page=1"> 1</a>
        {% if page_obj.has_previous %}


        <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% else %}
        <a href="javascript:void(0)"   >précédent</a>
        {% endif %}


        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">suivant</a>
        {% else %}
        <a href="javascript:void(0)">suivant</a>
        {% endif %}

        <a href="?page={{ page_obj.paginator.num_pages }}"> {{page_obj.paginator.num_pages}} </a>
      </span>
    </div>
  </div>


  <div class="paginationSearch">

  </div>


  <script src="{% static 'js/searchExperiencesList.js' %}"></script>
  <script src="{% static 'js/search_experiences_by_auteur.js' %}"></script>

  {% endblock %}
</html>