<!DOCTYPE html>
<html lang="fr">
  
  {% extends "Webfautheque/base.html" %} {% load static %} {% block title %}

  Ajout expérience {% endblock %} {% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/experience_form.css' %}" />
  <h1 class='title_experience'>Création d'une expérience {{nom_defaut}}</h1>

  <div class='form_card'>



  <form enctype="multipart/form-data" method="POST" class="experience-form">
    {% csrf_token %}
    <div class="add_form_content">
      <div class="form-group">
        <input type="date" class="form-control" id="experience_pub_date" name="experience_pub_date" value="2018-07-22" hidden>
      </div>


      <div class="form_content">
        <div class='form_text'>
          <p> defaut :
        </div>

        <div class='form_input'>
          <select name="defaut" id="id_defaut" class="form-control">
            
            {% if nom_defaut is null %}
              <option value="" selected disabled hidden>Choisissez un defaut</option>
            {% else %}
            <option value="{{defaut_id}}" required hidden>{{nom_defaut}} </option>
            {% endif %}

            {% for list in liste_defaut %}
            <option value="{{list.id}}">{{list.defaut_nom }}</option>
            {% endfor %}
            
          </select>
        </div>
      </div>
      

      <div class="form_content">
      <div class='form_text'>
        <p> Code expérience : 
      </div>
      <div class="form_input">
        {{ experience_form.experience_nom_article}}
      </div>
    </div>
    
    <div class="form_content">

      <div class="form_input">
        {{ experience_form.experience_auteur}}
      </div>
    </div>
      <div class="form_content">
      <div class='form_text'>
        <p> Rapport anomalie :
      </div>
      <div class="form_input">
        {{ experience_form.experience_rapport_anomalie }}
      </div>
    </div>
      <div class="form_content">
      <div class='form_text'>
        <p> Ift : 
      </div>
      <div class="form_input">
        {{ experience_form.experience_ift }}
      </div>
    </div>
    <div class="form_content">
      <div class='form_text'>
        <p> Photo 1:
      </div>
      <div class="form_input">
        {{ experience_form.experience_photos_1}}
      </div>
    </div>
    <div class="form_content">
      <div class='form_text'>
        <p> Photo 2 :
      </div>
      <div class="form_input">
        {{ experience_form.experience_photos_2}}
      </div>
    </div>
    <div class="form_content">
      <div class='form_text'>
        <p> Descriptif :   
      </div>
      <div class="form_input">
        {{ experience_form.experience_descriptif}}
      </div>
    </div>
      <div class="form_content">
      <div class='form_text'>
        <p> Remedes :  
      </div>
      <div class="form_input">
        {{ experience_form.experience_remedes}}
      </div>
    </div>
    <button type="submit" class="btn_ajout">Enregistrer</button>
  </form>

</div>
  {% endblock %}
</html>
