<!DOCTYPE html>
<html lang="fr">
{% extends "Webfautheque/base.html" %} {% load static %} {% block title %}
    WikiFC - Groupe {% endblock %} {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/classe_groupe.css' %}"/>

    <a href="/Webfautheque/Arborescence" class="btn-retour">Retour au choix de la classe </a>

    <h1>Classe {{ classe_lettre }} : {{ classe_nom }}</h1>

    <div class="list_groupes">
        <ul>
            {% for groupe in groupes_list %}
                <li>
                    <a href="/Webfautheque/{{ groupe.groupe_idperso }}"
                    >Groupe {{ groupe.groupe_idperso }} : {{ groupe.groupe_nom }}</a
                    >
                </li>
            {% endfor %}
    </ul>

    {{ val }}
  </div>

  {% endblock %}
</html>
