<!DOCTYPE html>
<html lang="fr">
{% extends "Webfautheque/base.html" %}
{% load static %}

<html>

{% block title %}FC 4.0 - Home{% endblock %}

<body style="background-image: url({% static 'Webfautheque/home/fond_jaune.png' %});">

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <div id="bloc_page">

        <div id="banniere_image" style="background: url({% static 'Webfautheque/home/banniere_FC.png' %}) no-repeat;">
            <div id="banniere_description">
                Quelques défauts de fonderie
            </div>
        </div>

        <section>
            <aside>
                <h1>Dernières expérience ajotuées sur la Webfauthèque</h1>
                <p>

                    {% if latest_experience_list %}
                        <ul>Dernieres expériences ajoutées :
                            {% for experience in latest_experience_list %}
                                <li>
                                    <a href="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}">
                                        {{ experience.experience_auteur }} :
                                        défaut {{ experience.defaut }} ajouté
                                        le {{ experience.experience_pub_date }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Pas d'experiences disponibles.</p>
                    {% endif %}

                </p>
            </aside>
        </section>

    </div>
{% endblock content %}

</body>

</html>