<!DOCTYPE html>
<html lang="fr">

{% extends "Webfautheque/base.html" %}
{% load static %}

<html lang="fr">

{% block title %}FC 4.0 - Home{% endblock %}

{% block content %}
        
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

    {% comment %} <div class="content">
        <div class='card_list'>
                <div class="card_list_1">
                    <a href="/Webfautheque/Arborescence">
                    <p>Defautheque
                </div>

                <div class="card_list_2">
                    <a href="/admin/">
                    <p>Administration
                </div>

                <div class="card_list_3">
                    <a href="/Webfautheque/experiences/">
                    <p>Experiences
                </div>
        </div>
    </div> {% endcomment %}

    <div id="bloc_page">

        <div id="banniere_image" style="background: url({% static 'Webfautheque/home/banniere_FC.png' %}) no-repeat;">

        </div>
        <section>
            <aside>
                {% if latest_experience_list %}
                    <p>
                    <ul>Dernières expériences ajoutées :
                        {% for experience in latest_experience_list %}
                                <li>
                                    <a href="/Webfautheque/{{ experience.defaut }}/Experiences/Consultation:{{ experience.id }}">
                                        {{ experience.experience_auteur }} :
                                        défaut {{ experience.defaut }} ajouté
                                        le {{ experience.experience_pub_date }}</a>
                                </li>
                            {% endfor %}
                    </ul>
                    </p>
                {% else %}
                        <p>Pas d'experiences disponibles.</p>
                    {% endif %}

            </aside>
        </section>

    </div> 





















{% endblock content %}

</body>

</html>