<!DOCTYPE html>
<html lang="fr">
{% extends "Webfautheque/base.html" %}
{% load static %}

{% block title %}
    Sous-Groupe
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sous_groupes.css' %}"/>

<div class="list_sous_groupes">
    <ul>
        {% for sous_groupe in sous_groupes_list %}
        <br>
            <li>
                <a href="/Webfautheque/{{ sous_groupe.sous_groupe_idperso }}">Sous-groupe {{ sous_groupe.sous_groupe_idperso }}
                    : {{ sous_groupe.sous_groupe_nom }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
