<!DOCTYPE html>
<html lang="fr">
{% extends "Webfautheque/base.html" %}
{% load static %}

{% block title %}
    Sous-Groupe
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classe_groupe.css' %}"/>

<a href="/Webfautheque/{{ classe_idperso }}" class="btn-retour">Précédent </a>
<div class="list_sous_groupes">
    <ul>
        {% for sous_groupe in sous_groupes_list %}
            <li>
                <a href="/Webfautheque/{{ sous_groupe.sous_groupe_idperso }}">Sous-groupe {{ sous_groupe.sous_groupe_idperso }}
                    : {{ sous_groupe.sous_groupe_nom }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
